body {
	padding: 0;
	margin: 0;
	background-color: black;
	color: white;
	overflow-x: hidden
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Ubuntu:wght@500&display=swap');

h1 {
	text-align: center;
	opacity: 0.8;
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
	transition: all ease .3s;
}

p {
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	font-size: 30px;
	transition: all ease .3s;
}

@media only screen and (max-width: 600px) {
	p {
		font-size: 20px;
	}
	h1 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 1800px) {
	p {
		font-size: 40px;
	}
	h1 {
		font-size: 50px;
	}
}