#footage-container {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

#footage-container #footage-video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.scrollr {
    margin-top: 20%;
    position: fixed;
    width: 100%;
    z-index: 9;
    overflow: hidden;
    display: grid;
    place-items: center;
    align-content: center;
}

.scrollr div {
    height: 200px;
    width: 200px;
    background-color: black;
}

.main-container {
    position: relative;
    width: 100%;
    z-index: 4;
    overflow: hidden;
    display: grid;
    place-items: center;
    align-content: center;
}

.main-container div {
    width: 80%;
    height: 70vh;
    padding: 20px;
    margin: 20px;
    font-size: larger;
    animation: slide 1s ease-in-out forwards;
    
    transition: all ease 2s;
    background-color: #1e2124;
}

.main-container .hidden {
    width: 74%;
    box-shadow: rgba(235, 41, 163, 0.4) -5px 5px, 
    rgba(235, 41, 163, 0.3) -10px 10px, 
    rgba(235, 41, 163, 0.2) -15px 15px, 
    rgba(235, 41, 163, 0.1) -20px 20px, 
    rgba(235, 41, 163, 0.05) -25px 25px,
    rgb(25, 25, 26) 3px 3px 6px 0px inset, 
    rgba(25, 25, 26, 0.5) -3px -3px 6px 1px inset;
}

.main-container .show {
    width: 80%;
    box-shadow: rgba(235, 41, 163, 0.4) 5px 5px, 
    rgba(235, 41, 163, 0.3) 10px 10px, 
    rgba(235, 41, 163, 0.2) 15px 15px, 
    rgba(235, 41, 163, 0.1) 20px 20px, 
    rgba(235, 41, 163, 0.05) 25px 25px,
    rgb(25, 25, 26) 3px 3px 6px 0px inset, 
    rgba(25, 25, 26, 0.5) -3px -3px 6px 1px inset;
}

@media screen and (max-width:500px)  {
    .main-container div {
        width: 70%;
        height: 40vh;
        font-size: large;
    }
}


#welcome-main div {

}

#whatido-main div {

}

#sponsors-main {

}

#welcome-main #welcome-img {
    z-index: 9;
    position: absolute;
    opacity: 0.3;
    max-width: 20%;
    max-height: 20%;
    margin: auto;
}


@keyframes slide {
    0% {
        margin-top: 40vh;
        border-radius: 50px;
    }
    100% {
        margin-top: 30vh;
        border-radius: 20px;
    }
}