#footage-container {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    animation: blur 1s ease-in-out forwards;
}

#footage-container #footage-video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#welcome-main {
    position: absolute;
    width: 100%;
    z-index: 7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-main #welcome-container {
    width: 75%;
    opacity: 0.9;
    height: 600px;
    padding: 20px;
    background-color: #3f4246;
    animation: slide 1s ease-in-out forwards;
    transform: translateX(-50px);
    will-change: transform;
}

#welcome-main #welcome-img {
    z-index: 9;
    position: absolute;
    opacity: 0.3;
    max-width: 20%;
    max-height: 20%;
    margin: auto;
}

@keyframes slide {
    0% {
        margin-top: 40vh;
        border-radius: 50px;
    }
    100% {
        margin-top: 30vh;
        border-radius: 20px;
    }
}

@keyframes blur {
    0% {
        filter: blur(25px) brightness(20%);
    }
    100% {
        filter: blur(0) brightness(40%);
    }
}